/* SaferStalls */
/* */
/* */
/* */

body {
	width: 100%;
	background-color: #E5D4FA;
}

#container {
	width: 95%;
	max-width: 800px;
	margin: 0 auto;
}

.section {
	width: 100%;
}

/* Header */

	#header {
		color: #666;
	}

	.logo h3 {
		font-family: helvetica;
	}

	#link_padding {
		height: 17px;
		width: 100%
	}

	#header a {
		font-style: none;
		color: #777;
		font-size: 17px;
	}

	#header a:hover {
		color: #000000;
	}

	#header_left {
		text-align: left;
		width: 100%;
	}

	#header_right {
		text-align: right;
	}

/* Map */

	#demoMap {
		height: 450px;
		width: 100%;
	}



/* Filters */
	
	#filters {
		margin-top: 10px;
		max-width: 585px;
		margin: 0 auto;
	}
	
	/* Buttons */
	.search {
		width: 98%;
		margin: 0 auto
	}

	#accessCheck {

	}

	#lockingCheck {

	}

/* Body */

/* Modal */


/* Mobile */

@media only screen and (max-width : 480px) { 

		#container {
			width: 100%;
		}

		#link_padding {
			margin-top: -30px;
			width: 100%;
		}

}