/* SaferStalls */
/* */
/* */
/* */

body {
	width: 100%;
	background-color: #E5D4FA;
}

#container {
	width: 95%;
	max-width: 800px;
	margin: 0 auto;
}

.section {
	width: 100%;
}

/* Header */

	#header {
		color: #666;
	}

	.logo h3 {
		font-family: helvetica;
	}

	#link_padding {
		height: 17px;
		width: 100%
	}

	#header a {
		font-style: none;
		color: #777;
		font-size: 17px;
	}

	#header a:hover {
		color: #000000;
	}

	#header_left {

	}

	#header_right {

1	}

/* Map */

	#map_area {
		margin-bottom: 10px;
	}

	#demoMap {
		height: 450px;
		width: 100%;
	}



/* Filters */
	
	#filters {
		margin-top: 10px;
		max-width: 585px;
		margin: 0 auto;
	}
	
	/* Buttons */
	.search {
		width: 98%;
		margin: 0 auto
	}

	#accessible_label {
		font-size: 14px;
	}

/* Content */

#content {

}

#content h4 {
	text-align: left;
}

/* Modal */


/* Mobile */

@media only screen and (max-width : 480px) { 

		#container {
			width: 100%;
		}

		#link_padding {
			margin-top: -40px;
			width: 100%;
		}

		#map_area {
		margin-top: 10px;
		margin-bottom: 3px;
		}

		#demoMap {
			height: 350px;
		}

		.search {
			width: 95%;
		}

		#content h4 {
			text-align: left;
			margin-left: 10px;
}
}

/* Mobile to 668p */

@media only screen and (max-width : 480px) { 

	
}
