/* SaferStalls */
/* */
/* */
/* */

body {
	color: 	
}

#container {
	max-width: 800px;
	margin: 0 auto;
}

.section {
	width: 100%;
}

/* Header */

	#header {
		color: #666;
	}

	#link_padding {
		height: 17px;
		width: 100%
	}

	@media all and (max-width: 300px) and (min-width: 1), (min-width: 1151px) {
 	
 	}

	#header a {
		font-style: none;
		color: #777;
		font-size: 17px;
	}

	#header a:hover {
		color: #000000;
	}

/* Map */

	#demoMap {
		height: 450px;
		width: 100%;
	}

/* Filters */
	#filters {
		margin-top: 10px;
	}
	/* Buttons */
	#city_search {
		width: 640px;
		margin: 0 auto
	}

	#submit_button {
		height: 33px;
		font-size: 14px;
	}


/* Body */